.total{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #696969;
    color:white;
    font-size: 25px;
    padding: 5px;
}
.answer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.question-Text{
    font-size: 30px;
}
.answer-Checkbox{
    display: flex;
    font-size: 20px;
    line-height: 30px;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
}
.button-Hidden{
    display: none;
}
.button-Style{
    background-color: rgb(189, 129, 8);
    border: none;
    text-align: center;
    padding: 10px 24px;
    color:white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #8a6d03;
    
}
.button-Style:hover{
    background-color: rgb(159, 108, 6);
}
.totalAns{
    font-size: 20px;
    text-align: center;
}
.text-Base-Style{
    font-size: 20;
}
.right-Ans{
    font-size: 20px;
    color:green;
}
.wrong-Ans{
    font-size: 20px;
    color:red;
}
.test{
    display: flex;
}